<html>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.csv.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



<script src="/static/js/jquery.jexcel.js"></script>
<script src="/static/js/jquery.jdropdown.js"></script>
<link rel="stylesheet" href="/static/css/jquery.jexcel.min.css" type="text/css" />
<link rel="stylesheet" href="/static/css/jquery.jdropdown.min.css" type="text/css" />


<!-- Optional CSS addon -->
<link rel="stylesheet" type="text/css" href="/static/css/material.css" />
<!--script async defer src="https://buttons.github.io/buttons.js"></script-->
<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jexcel/2.0.0/css/jquery.jexcel.bootstrap.min.css" type="text/css" /-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Infralis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">{{.Platform}} <span class="sr-only">(current)</span></a>
        </li>
        <li>
            <p class="navbar-btn">
                <button id="Save" class="btn btn-outline-success my-2 my-sm-0" type="submit">Save</button>
            </p>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/commit">Commit<span class="sr-only">(current)</span></a>
        </li>
        <li>
            <p class="navbar-btn">
                <button id="Download" class="btn btn-outline-success my-2 my-sm-0" type="submit">Download Selected</button>
            </p>
        </li>

        </ul>


        <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Save</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Download Selected</button>
        </form>
    </div>
</nav>

<div class="container-fluid"  id="my"></div>

<div class="container-fluid"> 
    <p>
    <button id='csv'>Convert to CSV</button>
    <button id='json'>Convert to JSON</button>
    <button id='download'>Download selected</button>
    </p>
    <textarea id='txt' style='width:1800px;height:240px'></textarea>
</div>

<script>
$('#my').jexcel({
    csv:'/api/csv/{{.Platform}}',
    csvHeaders:false,
    tableOverflow:true,
    tableHeight:'400px',
    //colWidths: [40, 120, 90, 120, 120, 150, 150, 150, 200, 30, 1, 1 , 1, 1 ],
    colWidths: {{.Sizes}},
    //colHeaders: ['J', 'Livebox', 'Brass', 'BrassEX' , 'Ip', 'Type' , 'key', 'MAC', 'Passwd', "?" ],
    colHeaders: {{.Headers}},
     columns: [
        { type: 'checkbox' }
    ],
    toolbar:[
        { type:'i', content:'undo', method:undo },
        { type:'i', content:'redo', method:redo },
        { type:'i', content:'save', method:save },
        { type:'select', k:'font-family', v:['Arial','Verdana'] },
        { type:'select', k:'font-size', v:['9px','10px','11px','12px','13px','14px'] },
        { type:'i', content:'format_align_left', k:'text-align', v:'left' },
        { type:'i', content:'format_align_center', k:'text-align', v:'center' },
        { type:'i', content:'format_align_right', k:'text-align', v:'right' },
        { type:'i', content:'format_bold', k:'font-weight', v:'bold' },
    ],
});

function save(instance, selectedCell)
{
    alert("save request");
    $(instance).jexcel('download');
}

function undo(instance, selectedCell)
{
    $(instance).jexcel('undo');
}

function redo(instance, selectedCell)
{
    $(instance).jexcel('redo');
}

$('#Save').on('click', function () {
  var data = $('#my').jexcel('getData');
  var txt = $.csv.fromArrays(data);
  alert(txt);
   $.post( "/api/update/{{.Platform}}", txt );
});


$('#csv').on('click', function () {
  var data = $('#my').jexcel('getData');
	$('#txt').val($.csv.fromArrays(data));
});

$('#json').on('click', function () {
  var data = $('#my').jexcel('getData');
	$('#txt').val(JSON.stringify(data));
});

$('#Download').on('click', function () {
    var data = $('#my').jexcel('getData');
    
    // filter selected  ( col index: 9 )
    var selected = [];
    for (var i = 0; i < data.length; i++) {
        var line = data[i];
        if (line[0] == "1") {
            // selected column is checked: add it
            selected.push(line);
        }
    }
    // convert .csv
    text = $.csv.fromArrays(selected)

    var a = window.document.createElement('a');
    a.href = window.URL.createObjectURL( new Blob([text], {type: 'text/csv'}));
    //a.download = 'livebox.csv';
    a.download = '{{.Platform}}';
    // Append anchor to body.
    document.body.appendChild(a);
    a.click();
    // Remove anchor from body
    document.body.removeChild(a);

});


</script>
</html>

